.semi-upload-file-list {
  margin-top: 0;
  margin-bottom: 0;
}

.semi-upload-file-list-main { 
  display: block;
}

#upload-image .semi-avatar-circle {
  border: 1px solid #58aeff;
}

.semi-upload-file-list-main {
  margin-bottom: 0;
}