.semi-pincode-wrapper .semi-input-wrapper-default {
  width: 52px;
  height: 52px;
  margin-right: 16px;
}

.semi-pincode-wrapper .semi-input-wrapper-default .semi-input-default {
  height: 50px;
  font-size: 28px;
}