#friend-sidebar .semi-navigation {
  padding-left: 0;
  padding-right: 0;
}

#friend-sidebar .semi-navigation-item-icon-info {
  color: inherit;
}

#friend-sidebar .semi-navigation-list-wrapper {
  padding-top: 0;
}

#friend-sidebar .semi-navigation-item {
  line-height: inherit;
}

#friend-sidebar .semi-navigation-item-selected {
  background-color: white;
}

.semi-tabs-bar-line.semi-tabs-bar-top .semi-tabs-tab:not(:last-of-type) {
  margin-left: 16px;
}