:root {
    --primary-color: #13c2c2;
    --cyan-light: #75f0f0;
    --white-color: #ffffff;
    --strong-blue: #396edd;
    --blue-light: #58aeff;
    --light-grey: #f4f5f7;
    --thumbnail-text: #87929e;
    --normal-text: #606c7a;
    --black-color: #282a35;
    --red-color: #de433e;
    --white-smoke: #f4f5f7;
    --ghost-white: #fafafb;
    --grey-300: #e1e4ea;
    --blue-1f4: #1f4060;
    --grey-400: #e8eaef;
    --neutral-500: #72808e;
    --base-color: #007e7e;
    --blue-fund: #4c92ff;
    --silver: #b3bbc8;
    --blue-700: #e5efff;
    --grey-500: #eeeff2;
    --dark-gray: #abb3bb;
    --light-cyan: #d2efff;
    --cyan: #13c2c2;
    --white-smoker: #f5f5f5;
    --purple: #814096;
    --pink: #f83292;
    --gradient: linear-gradient(90deg, var(--cyan-light), var(--base-color));
}

#search-wrapper {
    background: var(--white-color);
    height: 100%;
}

#search-wrapper .ant-input-affix-wrapper {
    border-radius: 18px;
}

#search-wrapper .search-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1rem;
}

#search-wrapper .search-top div~div {
    margin: 0 0.2rem;
}

#search-wrapper .search-top_add-friend,
#search-wrapper .search-top_create-group {
    font-size: 2rem;
    cursor: pointer;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 20px;
    transition: 0.2s;
}

#search-wrapper .search-top_add-friend:hover,
#search-wrapper .search-top_create-group:hover {
    background-color: var(--light-grey);
}

#search-wrapper .search-top_input-search {
    flex-grow: 1;
}

#search-wrapper .search-bottom .classify-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#search-wrapper .search-bottom .classify-title span:last-child {
    font-size: 1.7rem;
    font-weight: 500;
}

#search-wrapper .search-bottom .classify-element {
    padding-left: 1rem;
}

#search-wrapper .search-bottom .add-classify {
    width: 32px;
    font-size: 2rem;
    border-radius: 20px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

#search-wrapper .search-bottom .add-classify:hover {
    background-color: var(--light-grey);
}

#search-wrapper .search-main .search-top .search-top_input-search .search-input {
    border-radius: 100px;
    padding: 0px 10px;
}

.semi-input-prefix {
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}