#chat-left-sidebar .semi-navigation {
  padding-left: 0;
  padding-right: 0;
}

#chat-left-sidebar .semi-navigation-item-icon-info {
  color: inherit;
}

#chat-left-sidebar .semi-navigation-list-wrapper {
  padding-top: 0;
}

#chat-left-sidebar .semi-navigation-item {
  line-height: inherit;
}

#chat-left-sidebar .semi-navigation-item-selected {
  background-color: white;
}

#chat-left-sidebar .semi-avatar-circle {
  border: none;
}

#chat-right-sidebar {
  width: 375px;
  height: 100vh;
  border-left: 1px solid rgba(var(--semi-grey-1), 1);
}

.semi-space-tight-vertical {
  row-gap: 0;
}

.semi-space-align-center {
  display: flex;
}