.profile-update_cover-image {
  position: relative;
}

.profile-update_upload {
  height: 18rem;
}

.profile-update_avatar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.profile-update_info {
  margin-top: 5rem;
  padding: 2rem 1.6rem;
}
