#account-page {
    display: flex;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    width: auto;
    background-image: url(../../../../assets/images/account/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.account-common-page {
    margin: auto;
}

.account-common-page .account-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(var(--semi-white), 0.5) !important;
    backdrop-filter: blur(5px);
}

.account-common-page .account-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-common-page .account-left img {
    max-width: 100%;
    max-height: 100%;
}

.account-common-page .g-recaptcha {
    position: relative;
    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
}

.account-common-page .account-right {
    margin-top: 1rem;
}

.account-common-page .account-right .form-account {
    padding: 0 3rem;
}

.account-common-page .addtional-link {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.account-common-page .addtional-link a {
    margin: 0.5rem 0;
}

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .account-common-page .account-wrapper {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .account-common-page .account-wrapper {
        width: 80%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .account-common-page .account_left {
        display: none;
    }
    .account-common-page .account_right {
        width: 100%;
    }
    .account-common-page .account-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .account-common-page .account-wrapper {
        box-shadow: unset;
        width: 100%;
    }
    .account-common-page .account_left {
        display: none;
    }
    .account-common-page .account_right {
        width: 100%;
    }
} */
