@import url('../../scss/variables.css');

.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.item-menu {
    font-weight: 500;
    font-size: 13px;
}

.modal-view-option_title {
    text-align: center;
}

.modal-view-option_title small {
    color: var(--neutral-500);
}

.modal-view-option_title strong {
    color: initial;
}

.modal-view-option .overview-text {
    color: var(--base-color);
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-view-option .overview-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-view-option_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.vote-message_item_name-option {
    z-index: 1;
}

.modal-view-option_avatar {
    width: 60px;
}

.modal-view-option_list {
    padding: 0 2rem;
}

.modal-view-option_list .ant-checkbox-group {
    display: block;
}

.modal-view-option_add {
    margin-top: 2rem;
    padding: 0 2rem;
}

.modal-view-option_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.temp-space {
    width: 15%;
}

.form-input {
    margin-left: 1rem;
    width: 100%;
}

.form-input .ant-input-affix-wrapper {
    padding: 4px 4px;
}
