.transfer-selected-item {
  .semi-icon-close {
      visibility: hidden;
      color: var(--semi-color-tertiary);
  }
  &:hover {
      .semi-icon-close {
          visibility: visible;
      }
  }
}

.transfer-selected-item,
.transfer-source-item {
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    &:hover {
        background-color: var(--semi-color-fill-0);
    }
    .name {
        margin-left: 8px;
        /* flex-grow: 1; */
        font-size: 14px;
        line-height: 20px;
    }
    .semi-avatar-circle {
      border: none;
    }
}