@import url("../../../../scss/variables.css");

.bg-white {
    background: #fff;
}

.user-name-strong {
    font-weight: 500;
    cursor: pointer;
}

.user-name-strong .blue {
    color: var(--blue-fund);
}

.user-name-strong .blue:hover {
    text-decoration: underline;
}

.user-message.hidden {
    display: none;
}

.user-message {
    padding: 0 2rem;
}

.user-message.top {
    margin-top: 4rem;
}

.user-message.bottom {
    margin-bottom: 4rem;
}

.last-view-avatar.center {
    justify-content: center;
    display: flex;
    padding: 1rem 0;
}

.user-message {
    transition: visibility 0.4s;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;
}

.user-message .time-and-last_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-message .last-view-avatar {
    display: flex;
}

.user-message .last-view-avatar.reverse {
    flex-direction: row-reverse;
}

.user-message .interact-conversation {
    display: flex;
    flex-direction: row;
}

.user-message .interact-conversation .avatar-user.hidden {
    visibility: hidden;
}

.user-message .reverse {
    flex-direction: row-reverse !important;
}

.user-message .list-conversation {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
}

.user-message .list-conversation .message .sub-message.same-user {
    margin-top: 0;
}

.user-message .list-conversation .message .sub-message {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
    position: relative;
}

.user-message .list-conversation .message .sub-message .content-message.content-media {
    padding: 0;
    background: none;
    box-shadow: none;
}

.user-message .list-conversation .message .sub-message .content-message.my-message-bg {
    background: var(--blue-700);
}

.user-message .list-conversation .message .sub-message .content-message {
    background: var(--white-color);
    padding: 1.4rem 1.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.18);
    position: relative;
    white-space: pre-line;
    max-width: 75%;
}

.user-message .list-conversation .message .sub-message .content-message .content-message-description {
    word-break: break-all;
}

.user-message .list-conversation .message .sub-message .content-message .content-message-description .undo-message {
    color: var(--silver);
}

.user-message .list-conversation .message .sub-message .content-message .content-message-description .messsage-image-wrapper,
.user-message .list-conversation .message .sub-message .content-message .content-message-description .message-video-wrapper {
    position: relative;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block.media {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block.media .list-user-react,
.user-message .list-conversation .message .sub-message .content-message .reacted-block.media .your-react {
    background: #fff;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block.right {
    right: 1.4rem;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block.left {
    left: 1.4rem;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react-icon > div {
    display: flex;
    align-items: center;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react-icon {
    position: relative;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react {
    padding: 0.4rem 0.8rem;
    border: 0.05rem solid var(--grey-300);
    border-radius: 14px;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react .list-user-detail {
    position: absolute;
    background: var(--blue-1f4);
    color: var(--white-color);
    top: 0;
    left: 0;
    transform: translate(-40%, -150%);
    font-size: 13px;
    display: none;
    flex-direction: column;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    white-space: nowrap;
    transition: 0.2s;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react .list-user-detail::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: var(--blue-1f4);
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .your-react {
    margin-left: 0.6rem;
    padding: 0.3rem;
    border-radius: 50%;
    border: 0.05rem solid var(--grey-300);
    position: relative;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .list-user-react:hover .list-user-detail {
    display: flex;
}

.user-message .list-conversation .message .sub-message .content-message .reaction.reaction-reverse {
    right: initial;
    left: 10%;
}

.user-message .list-conversation .message .sub-message .content-message .author-message {
    font-size: 1.3rem;
    color: var(--normal-text);
    padding-bottom: 0.4rem;
}

.user-message .list-conversation .message .sub-message .content-message .time-send {
    font-size: 1.3rem;
    color: var(--thumbnail-text);
}

.user-message .list-conversation .interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--ghost-white);
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    max-width: 25%;
    border-radius: 6px;
    visibility: hidden;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.18);
    flex-wrap: wrap;
}

.user-message .list-conversation .interaction .ant-btn:hover,
.user-message .list-conversation .interaction .ant-btn:focus {
    color: var(--cyan-light) !important;
}

.user-message .list-conversation .interaction.hidden {
    display: none;
}

.user-message .list-conversation .icon-interact {
    color: var(--normal-text);
    font-size: 1.7rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-message .list-conversation .icon-interact:hover {
    color: var(--cyan-light);
}

.user-message .list-conversation .message .sub-message:hover .interaction,
.user-message .list-conversation .message .sub-message:hover .reaction,
.user-message .list-conversation .message .sub-message:hover .reaction-reverse {
    visibility: visible;
}

.user-message .list-conversation .message .sub-message .reaction-reverse:hover + .list_icon-reaction,
.user-message .list-conversation .message .sub-message .content-message .reaction .reaction-thumbnail:hover .list_icon-reaction {
    display: flex;
}

.user-message .list-conversation .message .sub-message .content-message .reacted-block .your-react:hover .list_icon-reaction {
    display: flex;
}

.user-message .last-message {
    padding-bottom: 3rem;
}

.user-message .is-seen-message {
    font-size: 1.3rem;
    color: var(--thumbnail-text);
    padding-left: 1rem;
}