#header-optional {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header_rightside .pop-up-layout {
            display: none;
        }
        .pop-up-responsive {
            display: inline-block;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header_rightside .pop-up-layout {
            display: none;
        }
        .pop-up-responsive {
            display: inline-block;
        }
    }
    @media only screen and (min-width: 577px) and (max-width: 767px) {
        .icon-header.back-list {
            display: block;
        }
        .pop-up-layout {
            display: none;
        }
        .pop-up-responsive {
            display: inline-block;
        }
    }
    @media only screen and (max-width: 576px) {
        .pop-up-layout {
            display: none;
        }
        .pop-up-responsive {
            display: inline-block;
        }
        .icon-header.back-list {
            display: block;
        }
    }
    flex: 1;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    overflow: hidden;
}

.header_wrapper .header_leftside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper .header_leftside .icon_user {
    cursor: pointer;
}

.header_wrapper .header_leftside .info_user {
    margin-left: 1.4rem;
}

.header_wrapper .header_leftside .info_user .channel_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    color: #333;
    /* replace with $base-color */
    font-size: 1.6rem;
    font-weight: 500;
}

.header_wrapper .header_leftside .info_user .lastime-access {
    display: flex;
}

.header_wrapper .header_leftside .info_user .lastime-access>span {
    font-size: 1.4rem;
    color: #87929e;
    /* replace with $thumbnail-text */
}

.header_wrapper .header_leftside .info_user .lastime-access .member-hover {
    cursor: pointer;
    transition: 0.2s;
    color: #87929e;
}

.header_wrapper .header_leftside .info_user .lastime-access .member-hover:hover {
    color: #75f0f0;
    /* replace with $cyan-light */
}

.header_wrapper .header_leftside .info_user .info_user-name {
    font-weight: 600;
    font-size: 1.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.header_wrapper .header_leftside .info_user .small-bar {
    width: 0.01rem;
    background-color: black;
    color: #87929e;
    /* replace with $thumbnail-text */
    height: 1.4rem;
    margin: auto 0.8rem;
}

.header_wrapper .header_leftside .icon-header.back-list {
    cursor: pointer;
    padding: 0 0.56rem;
    transition: 0.2s;
    border-radius: 4px;
    font-size: 20px;
    margin-right: 1rem;
    display: none;
}

.header_wrapper .header_leftside .icon-header.back-list:hover {
    background-color: #f4f5f7;
    /* replace with $light-grey */
}

.header_wrapper .classify-object {
    cursor: pointer;
}

.header_wrapper .header_rightside {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.header_wrapper .header_rightside .icon-header {
    margin: 0 0.5rem;
}

.header_wrapper .header_rightside .search-message,
.header_wrapper .header_rightside .pop-up-layout,
.header_wrapper .header_rightside .create-group,
.header_wrapper .header_rightside .call-video,
.header_wrapper .header_rightside .back-channel,
.header_wrapper .header_rightside .pop-up-responsive {
    cursor: pointer;
    padding: 0 0.56rem;
    transition: 0.2s;
    border-radius: 4px;
}

.header_wrapper .header_rightside .search-message:hover,
.header_wrapper .header_rightside .pop-up-layout:hover,
.header_wrapper .header_rightside .create-group:hover,
.header_wrapper .header_rightside .call-video:hover,
.header_wrapper .header_rightside .back-channel:hover,
.header_wrapper .header_rightside .pop-up-responsive:hover {
    background-color: #f4f5f7;
    /* replace with $light-grey */
}

.header_wrapper .header_rightside .pop-up-responsive {
    display: none;
}