@import url('../../../../scss/variables.css');

#main-info {
    background: #fff;
    height: 100%;
}

#main-info .info_member-wrapper,
#main-info .info_archive-media-wrapper,
#main-info .info_archive-file-wrapper,
#main-info .info_another-setting-wrapper {
    border-top: 0.6rem solid var(--grey-400);
}
